[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
tensorflow = "==1.8.0"

[dev-packages]
pytest = "==3.7.3"
pytest-mock = "*"
"flake8-config-yoctol" = ">=0.0.11"

[requires]
python_version = "3.6"
